<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Entries</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">My Entries</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container" class="ion-padding">
        <ion-accordion-group>
            @for(year of years; track $index) {
            <app-accordion-year
                [key]="$index"
                [year]="year"
                [entries]="entries[year]"
            ></app-accordion-year>
            <!-- @for(status of statuses; track $index) { 
					@for(entry of entries[year][status]; track $index) {
					} 
				}  -->
            }
        </ion-accordion-group>
    </div>
</ion-content>
