<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Checkout</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Cart</ion-title>
        </ion-toolbar>
    </ion-header>

    @for(entry of unpaidEntries; track $index){
    <app-entry-card [entry]="entry" [checkout]="true"></app-entry-card>
    }

    <div class="ion-padding">
        <hr />
    </div>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Total: ${{ total }}</ion-card-title>
            <ion-card-subtitle>Checkout</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <form id="payment-form">
                <ion-list>
                    <ion-item>
                        <p>Card Holder Name</p>
                        <ion-content id="card-name"></ion-content>
                    </ion-item>
                    <ion-item>
                        <p>Card Number</p>
                        <ion-content id="card-number"></ion-content>
                    </ion-item>
                    <ion-item>
                        <p>CVV</p>
                        <ion-content id="cvv"></ion-content>
                    </ion-item>
                    <ion-item>
                        <p>Expires On</p>
                        <ion-content id="expiration-date"></ion-content>
                    </ion-item>
                </ion-list>

                <div id="buttons">
                    <ion-button type="submit">Pay Now</ion-button>
                </div>
            </form>
        </ion-card-content>
    </ion-card>

    <ion-toast
        [isOpen]="isToastOpen"
        message="Transaction Successfull"
        [duration]="2000"
        position="bottom"
        (didDismiss)="navigateHome()"
    ></ion-toast>
</ion-content>
