#buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-list {
    ion-item {
        p {
            margin-right: 20px;
        }
    }
}

hr {
    background-color: black;
    opacity: 1;
}

#checkout-form {
}

ion-toast {
    --background: #218c74;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #fff;
    font-weight: 400;
    font-size: 18px;
}

#loading-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
