<ion-accordion value="{{ key }}">
    <ion-item slot="header" color="light">
        <ion-label>{{ status_formated }} ({{ total_entries }})</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
        @if( status == 'unpaid' ){
        <ion-card color="warning">
            <ion-card-header>
                <ion-card-title
                    >Just One More Step to Complete Your Order
                </ion-card-title>
                <ion-card-subtitle>Almost There! </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                It looks like you’ve started the checkout process but haven’t
                finished yet.
            </ion-card-content>

            <ion-button fill="clear" (click)="navigateToCheckout()"
                >Continue to Checkout</ion-button
            >
        </ion-card>

        } @for( entry of entries; track $index){
        <app-entry-card [entry]="entry"></app-entry-card>
        }
    </div>
</ion-accordion>
