ion-card {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;

    // &.ion-color-light,
    // .ion-color-light {
    //     --ion-color-base: #fca311 !important;
    //     --ion-color-base-rgb: #14213d !important;
    //     --ion-color-contrast: #14213d !important;
    //     --ion-color-contrast-rgb: #14213d !important;
    //     --ion-color-shade: #14213d !important;
    // }
}
