<ion-card color="light">
    <ion-card-content>
        <ion-list>
            <ion-item color="light">
                <ion-input
                    label="Entry's Title"
                    labelPlacement="floating"
                    placeholder="Enter text"
                    #title="ngModel"
                    name="title"
                    id="title"
                    [(ngModel)]="entry.title"
                ></ion-input>
            </ion-item>

            @for(level of entry_categories; track $index ){
            <ion-item color="light">
                <ion-select
                    label="Entry Category"
                    label-placement="floating"
                    (ionChange)="getCategories($event)"
                >
                    @for(single_category of level; track $index ){
                    <ion-select-option value="{{ single_category.id }}">{{
                        single_category.title
                    }}</ion-select-option>
                    }
                </ion-select>
            </ion-item>
            }

            <ion-item color="light">
                <ion-textarea
                    label="Floating label"
                    labelPlacement="floating"
                    placeholder="Enter text"
                ></ion-textarea>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
