<ion-accordion value="{{ key }}">
    <ion-item slot="header" color="light">
        <ion-label>{{ year }} ({{ total_entries }})</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
        <ion-accordion-group>
            @for( status of statuses; track $index ){ @if(
            entries[status].length > 0 ){
            <app-accordion-payment-status
                [key]="$index"
                [total_entries]="entries[status].length"
                [entries]="entries[status]"
                [status]="status"
            ></app-accordion-payment-status>
            } }
        </ion-accordion-group>
    </div>
</ion-accordion>
