<ion-card>
    <ion-card-header>
        <ion-card-title>
            {{ entry.title }}
        </ion-card-title>
        <ion-card-subtitle>
            {{ full_entry_category }}
        </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        {{ entry.description }}
        @if(files.length > 0){
        <ion-list lines="none">
            @for( file of files; track $index ){
            <ion-item
                [button]="true"
                detail="false"
                (click)="toggleMediaModal(file)"
            >
                <ion-icon
                    aria-hidden="true"
                    name="document-text"
                    slot="start"
                ></ion-icon>
                <ion-label>{{ file.file_name }}</ion-label>
            </ion-item>
            }
        </ion-list>
        }
    </ion-card-content>

    @if(!checkout){

    <div>
        @if( entry.winner_status == "none" && entry.payment_status == "paid" &&
        entry.judgement_status == "to_be" ){
        <input
            id="fileUploader-{{ entry.id }}"
            type="file"
            (change)="onFileSelected($event)"
        />
        <ion-button (click)="uploadFiles()" fill="clear"
            >Upload Files</ion-button
        >
        }
    </div>

    <div>
        @if( entry.winner_status == "none" && entry.payment_status == "unpaid"
        && entry.judgement_status == "to_be" ){
        <ion-button (click)="deleteEntry()" fill="clear">Delete</ion-button>
        }
    </div>
    } @else {
    <div id="checkout-cta">
        <ion-button fill="clear">Delete</ion-button>
        <ion-card-title>${{ price }}</ion-card-title>
    </div>
    }
</ion-card>
