<ion-card>
    <ion-card-header>
        <ion-card-title>
            {{ entry.title }}
        </ion-card-title>
        <ion-card-subtitle>
            {{ full_entry_category }}
        </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        {{ entry.description }}
    </ion-card-content>

    @if(!checkout){
    <div>
        @if( entry.winner_status != "none" && entry.payment_status == "paid" &&
        entry.judgement_status == "judged" ){
        <ion-button fill="clear">Order Certificate</ion-button>
        <ion-button fill="clear">Buy Statuette</ion-button>
        }
    </div>

    <div>
        @if( entry.winner_status == "none" && entry.payment_status == "paid" &&
        entry.judgement_status == "to_be" ){
        <ion-button fill="clear">Upload Files</ion-button>
        }
    </div>

    <div>
        @if( entry.winner_status == "none" && entry.payment_status == "unpaid"
        && entry.judgement_status == "to_be" ){
        <ion-button (click)="deleteEntry()" fill="clear">Delete</ion-button>
        }
    </div>
    } @else {
    <div id="checkout-cta">
        <ion-button fill="clear">Delete</ion-button>
        <ion-card-title>${{ price }}</ion-card-title>
    </div>
    }
</ion-card>
