<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Enter</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Enter</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container" class="ion-padding">
        @if(isLoading){
        <div id="loading-wrapper">
            <ion-spinner></ion-spinner>
        </div>
        } @else { @if( showCheckout ){
        <ion-card color="warning">
            <ion-card-header>
                <ion-card-title>
                    We Noticed You Have Entries Ready to Be Paid.
                </ion-card-title>
                <ion-card-subtitle>
                    Continue Where You Left Off?</ion-card-subtitle
                >
            </ion-card-header>

            <ion-card-content>
                It looks like you have some pending entries that need your
                attention. Would you like to continue processing your payments?
                Your progress is saved, so you can pick up right where you left
                off!
            </ion-card-content>

            <ion-button fill="clear" (click)="navigateToCheckout()"
                >Continue to Checkout</ion-button
            >
        </ion-card>
        } @for(entry of entries; track $index ){
        <app-enter-card [entry]="entry"></app-enter-card>

        @if( $index != 0 ){
        <ion-button color="danger" (click)="removeEntry($index)">
            Remove Entry
            <ion-icon slot="end" name="trash"></ion-icon>
        </ion-button>
        } }

        <div id="buttons">
            <div class="left">
                <ion-button color="warning" (click)="addNewEntry()">
                    Add Entry
                    <ion-icon slot="end" name="add"></ion-icon>
                </ion-button>
            </div>
            <div class="right">
                <ion-button color="medium" (click)="saveChanges(false)">
                    Save Changes
                    <ion-icon slot="end" name="save"></ion-icon>
                </ion-button>
                <ion-button (click)="saveChanges(true)">
                    Continue
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-button>
            </div>
        </div>
        }

        <ion-alert
            [isOpen]="isAlertOpen"
            header="Alert"
            subHeader="An error has occurred"
            message="Please fill all required fields to continue."
            [buttons]="alertButtons"
            (didDismiss)="setAlertOpen(false)"
        ></ion-alert>

        <ion-toast
            [isOpen]="isToastOpen"
            message="Entries saved successfully"
            [duration]="3000"
            position="bottom"
            (didDismiss)="setOpen(false)"
        ></ion-toast>
    </div>
</ion-content>
